@charset 'iso-2022-jp';
@import '/www/style/html/xhtml.css';
@namespace xoxo 'http://suika.fam.cx/www/style/html/xoxo#';

body {
  margin-left: 3em;
  margin-right: 3em;
}

div.section {
  min-width: 30em;
  margin-right: 8em;
}

div.section div.section {
  margin-right: 0;
}

h3:before, h4:before {
  display: none;
}

#toc li {
  list-style-type: none;
}

div.doc-preamble,
div.doc-postamble,
div.doc-key-points {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  background-color: rgb(221, 221, 221);
  color: black;
}

div.doc-key-points {
  clear: both;
  -moz-border-radius-topright: 2em;
  -moz-border-radius-bottomleft: 2em;
  background-color: #ffe8ff;
}

div.doc-exercise {
  margin-left: 4em;
  margin-right: 4em;
  border-style: double;
  border-color: rgb(255, 165, 0);
  border-size: thin;
  padding: 0 1em;
}

div.doc-exercise > div.doc-problem {
  margin-bottom: 1em;
}

div.doc-exercise > div.doc-problem > h2,
div.doc-exercise > div.doc-problem > h3,
div#answers div.doc-problem > h3,
div#answers div.doc-problem > h4 {
  display: inline;
}

div.doc-exercise > div.doc-problem > h2:before,
div.doc-exercise > div.doc-problem > h3:before,
div#answers div.doc-problem > h3:before,
div#answers div.doc-problem > h4:before {
  display: none;
}

div.doc-exercise > div.doc-problem > h2 + p,
div.doc-exercise > div.doc-problem > h3 + p,
div#answers div.doc-problem > h3 + p,
div#answers div.doc-problem > h4 + p {
  display: inline;
}

div#answers pre {
  margin-left: 1em;
}

div#index li {
  clear: left;
}

div#index > ol > li {
  display: block;
  list-style-type: none;
}

div#index > ol > li > div.non-para {
  display: block;
  list-style-type: none;
  text-align: center;
  letter-spacing: 1em;
  font-weight: bolder;
  font-family: sans-serif;
  -moz-user-select: none;
}

div#index > ol > li.doc-index-aiueo-misc > div.non-para {
  letter-spacing: 0;
}

div#index > ol > li > div.non-para:before {
  display: inline;
  content: "\003016";
  letter-spacing: 1em;
}

div#index > ol > li:not([xoxo|expanded="true"]) > div.non-para:before {
  content: "$B!Z(B";
}

div#index > ol > li > div.non-para:after {
  display: inline;
  content: "\003017";
  letter-spacing: 0;
}

div#index > ol > li.doc-index-aiueo-misc > div.non-para:after {
  padding-left: 1em;
}

div#index > ol > li:not([xoxo|expanded="true"]) > div.non-para:after {
  content: "$B![(B";
}

div#index ol li {
  list-style-type: none;
}

div#index span.doc-index-item {
  display: block;
  float: left;
  width: 60%;
}

div#index span.doc-index-page {
  display: block;
}

div#index em {
  font-weight: bolder;
  font-family: sans-serif;
}


div.fig {
  clear: right;
  float: right;
  width: 45%;
  margin-left: 2em;
  margin-right: 1em;
}

div.quote ~ div.fig {
  clear: none;
  float: none;
  width: auto;
  margin-left: 1em;
  margin-right: 55%;
}

#lists-wonders-tree-prose {
  clear: left;
  float: left;
  width: 42%;
  margin-left: 1em;
  margin-right: 2em;
}

#parahraphs-example-tree-html,
#lists-wonders-tree-html,
#lists-recipe-kenchin-tree-html,
#lists-wonders-tree-prose,
#lists-example-wonders {
  clear: both;
  float: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.doc-problem div.fig {
  float: none;
  clear: both;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

div.fig-body {
  font-size: 80%;
}

div.fig-body div.memo {
  font-size: 100% /* 80% * __(100/80)% * 80%__ */;
}

div.fig-body ol.xoxo {
  margin-left: 1em;
}

div.fig div.caption {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.fig div.caption,
div.example div.caption {
  font-size: 90%;
}

div.fig > div.caption:before,
div.example > div.caption:before {
  display: none;
  content: "";
}

div.quote {
  clear: right;
  float: right;
  width: 45%;
  margin-top: 2em;
  margin-left: 2.5em;
  margin-right: 1.5em;
  font-size: 80%;
}

blockquote h3,
blockquote h4 {
  margin-left: 1em;
  margin-bottom: 1em;
}

blockquote h3:before,
blockquote h4:before {
  display: none;
}

div.quote div.credit {
  font-size: 80%;
}

div.example {
  clear: both;
  float: none;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.example:before {
  display: none;
}

div.example pre > code.HTML,
div#answers pre > code.HTML {
  color: inherit;
  background-color: transparent;
}

div.memo:not(.ed), div.memo.todo {
  position: absolute;
  top: auto;
  right: 0.5em;
  width: 13em;
  margin: 1em 0;
  font-size: 80%;
  -moz-binding: url(/www/style/ui/sidenote.xbl#bottom-by-previous-sibling-offset);
}

div.memo + div.memo,
div.fig + * + div.memo {
  -moz-binding: url(/www/style/ui/sidenote.xbl#top-by-previous-sibling-offset);
}

div.memo :first-child:before {
  display: block;
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}

div.info.memo > :first-child:before {
  content: "$B%a%b(B : ";
}

div.info.memo.ed > :first-child:before {
  content: "$BJT=8<T$N%a%b(B: ";
}

div.info.memo.todo > :first-child:before {
  content: "TO DO: ";
}

div.doc-mini-column {
  margin: 2em 4em;
  -moz-border-radius: 1em;
  padding: 1em;
  background-color: rgb(238, 238, 204);
  color: black;
}

div.doc-mini-column div.caption {
  margin-bottom: 1em;
  margin-left: 1em;
}



code.tutorial-tag, code.doc-sgml-declaration {
  font-weight: bolder;
  color: blue;
  background-color: transparent;
}

pre {
  text-indent: 0;
}

code.HTML a:link, code.HTML a:visited,
code.HTMLe a:link, code.HTMLe a:visited,
code.HTMLa a:link, code.HTMLa a:visited {
  color: inherit;
  background-color: transparent;
}

.block {
  display: block;
  margin-left: 3em;
  text-indent: 0;
}

.tutorial-syntax {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

a.doc-mark-ref, a.doc-iref-quote, a.doc-iref-fig,
a.doc-iref-example, a.doc-iref-section {
  color: inherit;
  background-color: transparent;
  border-style: none;
  text-decoration: none;
}

a.doc-mark-ref {
  cursor: inherit;
}

.doc-mark-enabled, .snip.doc-mark-enabled {
  background-color: #ffff80;
}

span.latex-a {
  text-transform: uppercase;
  vertical-align: 0.2em;
}

span.latex-e {
  text-transform: uppercase;
  vertical-align: -0.2em;
}

/*
  License: GNU FDL (See |webpage.ja.xml|).
  $Date: 2006/03/07 06:23:49 $
*/
